[submodule "sdk"]
	path = sdk
	url = ../m0dular-source-sdk.git
[submodule "modules/keycode"]
	path = modules/keycode
	url = https://github.com/depp/keycode.git
[submodule "bits"]
	path = bits
	url = ../m0dular-csgo-bits.git
